!!!
%html{:lang => "en"}
%head
  %meta{:charset => "utf8"}
  %title= 'Recall'
  %link{:href => "/reset.css", :rel => "stylesheet"}
  %link{:href => "/style.css", :rel => "stylesheet"}

%body
  %header
    %hgroup
      %h1
        %a{:href => "/"}
        = "Recall"
      %h2 'cause you're too busy to remember

  #main
  - if flash[:notice]
    %p.notice
      = flash[:notice]
  - if flash[:error]
    %p.error
      = flash[:error]
  - if logged_in?
    = "You are currently logged in as: " + current_user.email + " (<a href='/logout'>Logout</a>)"
  - else
    <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
  = yield

  %footer
    %p
      %small
        An app for 
        %a{:href => "http://net.tutsplus.com"}NetTuts+
