!!!
%html{:lang => "en"}
%head
  %meta{:charset => "utf8"}
  %title= @title + ' | Recall'
  %link{:href => "/reset.css", :rel => "stylesheet"}
  %link{:href => "/style.css", :rel => "stylesheet"}

%body
  %header
    %hgroup
      %h1
        %a{:href => "/"}
        = "Recall"
      %h2 'cause you're too busy to remember

  #main
  - if flash[:notice]
    %p.notice
      = flash[:notice]
  - if flash[:error]
    %p.error
      = flash[:error]
  = yield

  %footer
    %p
      %small
        An app for 
        %a{:href => "http://net.tutsplus.com"}NetTuts+
